.container {
  max-width: 800px;
  margin: auto;
}
.orders-wrapped {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.card-header {
  background-color: #f5f5f5;
  border-bottom: 1px;
  padding: 10px 15px;
}
.orders-wrapped table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
.orders-wrapped table td{
  padding: 10px 15px;
}
.orders-wrapped table th {
  padding: 10px 15px;
}
.orders-wrapped table .quantity input {
  width: 45px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-left: 10px;
}
.orders-wrapped table .quantity {
  display: flex;
  width: 170px;
  justify-content: space-between;
}
.btn {
  border: 1px solid #ccc;
  padding: 8px 12px;
  vertical-align: middle;
  border-radius: 4px;
  min-width: 40px;
  color: white;
}
h1 {
  text-align: center;
}
.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}
.f-end {
  justify-content: flex-end;
}
.decrement {
  background-color: #f39c12
}
.increment {
  background-color: #18bc9c;
}
.remove {
  background-color: #e74c3c;
}
.pay {
  background-color: #19bec8;
  border-radius: 25px;
}
button:disabled {
  opacity: .64
}
.bold {
  font-weight: bold
}